@import '@/styles/color.less';
@import '@/styles/token.less';

.skill-list {
  position: relative;
}

.skill-dispose-modal-style {
  .ant-modal-header {
    margin-bottom: 0;
  }

  .ant-modal-content {
    padding: 0;
  }

  .ant-modal-footer {
    margin-right: 20px;
    padding-bottom: 20px;
  }
}

.skill-item-dispose-mask {
  color: #fff;
  background-color: rgba(255, 255, 255, 80%);
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.skill-item-container {
  margin-bottom: 6px;
}

.skill-item-style {
  padding: 14px 10px;
  border: 1px solid #e6e5e5;
  width: 100%;
  height: 54px;
  border-radius: 6px;
  position: relative;

  .skill-item-icon {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    border-radius: 6px;
  }

  .skill-item-content-style {
    font-size: 12px;
    color: #2029459e;

    .skill-item-title-style {
      font-size: 14px;
      color: #0f1528d1;
      // margin-bottom: 4px;
    }

    .skill-item-desc-style {
      width: 240px;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .mask-layer-style {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 20%);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
  }
}

.skill-params-description {
  font-size: 12px;
  color: @GRAY05;
}

.skill-dispose-container {
  height: 600px;

  .skill-dispose-left {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    height: 100%;
    width: 25%;
    background-color: @WHITE10;
    padding: 20px 10px;

    .skill-dispose-left-title {
      margin-bottom: 20px;
      font-weight: @fontWeightStrong;
      font-size: 22px;
    }

    .skill-menu-style {
      padding: 8px 10px;
      height: 36px;
      font-weight: @fontWeightStrong;
      width: 100%;
      cursor: pointer;
    }

    .select-menu {
      background-color: @GRAY04;
      border-radius: 10px;
    }
  }

  .skill-dispose-right {
    flex: 1;
    padding: 60px 20px;
    color: #2029459e;

    .content-title-style {
      font-weight: @fontWeightStrong;
    }

    .content-item-style {
      padding: 10px 20px;
      border-bottom: 1px solid @GRAY02;

      .content-center-item-style {
        width: 30%;
        margin-right: 10%;
      }

      .content-right-item-style {
        width: 12%;
      }
    }
  }
}

.output-style {
  padding: 10px 0;
}

.output-remark-style {
  border-radius: 16px;
  background-color: @WHITE13;
  padding: 10px;
  margin-bottom: 16px;
}

.tree-title-style {
  // min-width: 500px;
  width: 500px;
}

.white {
  color: #000;
}

.skill-tree {
  width: 100%; /* 或者指定具体的宽度 */
  height: 400px; /* 或者指定具体的高度 */
  overflow-y: auto; /* 启用垂直滚动条 */
}

.dis-no-wrap {
  overflow: hidden;
}

.database-tag-style {
  padding: 2px 4px;
  font-size: 10px;
  background-color: @GRAY09;
  margin-left: 6px;
  margin-bottom: 4px;
  border-radius: 4px;

  &:first-child {
    margin-left: 0;
  }
}

.background-c9 {
  border: 1px solid #c9cdd4;
  background-color: #f2f3f5;
}
