@import '@/styles/color';
@import '@/styles/token';

.container {
  padding: 40px 0 0;
  background-color: @WHITE;
}

.title {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: @fontWeightStrong;
  color: @BLANK17;
}
