/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/src/.umi-test
/.umi
/.umi-production
/.umi-test
/dist
/.mfsu
.swc
/.idea
/.yarn.lock
package-lock.json
pnpm-lock.yaml

# Ignore DevSpace cache and log folder
.devspace/

/k8s
/devspace.yaml
/devspace_start.sh
/Dockerfile

# /.husky
/src/mock
.npm-cache

# Claude local settings
.claude/settings.local.json

.claude
.cursor
.cursorrules
.DS_Store
.agent
/deploy_test.sh
