@import '@/styles/color';
@import '@/styles/token';
@import '@/styles/custom-variate';

.container {
  height: 100%;
  padding-top: 50px;
  background-color: @WHITE;
  overflow: hidden;

  :global {
    .table-params-name-td {
      padding-left: 24px !important;
    }

    .ant-table-wrapper .ant-table-tbody-virtual .ant-table-cell {
      border-bottom: none;
    }
  }

  .params-name {
    color: @BLANK15;
    font-size: 14px;
    font-weight: @fontWeightStrong;
    line-height: 20px;
    word-break: break-word;
  }

  .desc {
    color: @BLANK16;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
  }

  .select {
    width: 100px;
    height: 32px;
  }

  .footer {
    border-top: 1px solid @antdFooterBorderColor;
    padding: @antdFooterPadding;
    text-align: right;

    .btn-disabled {
      border-color: transparent;
      color: @WHITE;
      background: @BLUE12;
    }
  }
}
