@import '@/styles/token';

.model-selector-container {
  display: flex;
  align-items: flex-start;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}

.model-selector {
  display: inline-flex;
  align-items: center;
  margin-top: 3px;
  height: 28px;

  .selector-btn {
    padding: @paddingXxs @paddingXs;
    border-radius: @borderRadius;
    box-sizing: border-box;
    color: @colorTextSecondary;
    font-size: @fontSizeSm;
    transition: background-color ease-in-out 0.3s;
    word-wrap: normal;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span {
      display: inline-block;
      max-width: 82px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover {
      background: @colorFillTertiary;
    }

    .selector-icon {
      font-size: @fontSize;
      margin-right: @marginXxs;
    }

    .selector-arrow {
      transition: transform @motionDurationFast ease;
    }

    &.open .selector-arrow {
      transform: rotate(180deg);
    }
  }

  .selector-btn-active {
    color: @colorTextSecondary;
  }

  .selector-btn-unavailable {
    cursor: not-allowed;
  }
}

.model-dropdown-container {
  background-color: @colorBgElevated;
  border-radius: @borderRadius;
  box-shadow: @boxShadowSecondary;
  padding: 4px 0 0;

  :global {
    .ant-dropdown-menu {
      box-shadow: none !important;
      border-radius: @borderRadius @borderRadius 0 0 !important;
    }
  }

  .add-button-wrap {
    padding: 4px;
    border-top: 1px solid @colorBorderSecondary;
  }
}

.model-menu {
  :global {
    .ant-dropdown-menu {
      max-height: 240px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .ant-dropdown-menu-item {
      background: transparent !important;

      &:hover {
        background: @colorFillTertiary !important;
      }

      &.ant-dropdown-menu-item-selected {
        background: transparent !important;

        &:hover {
          background: @colorFillTertiary !important;
        }
      }
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;

    .item-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      min-width: 0;

      .item-name {
        color: @colorTextSecondary;
        font-size: @fontSizeSm;
        font-weight: 500;
        line-height: 28px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .item-desc {
        font-size: 11px;
        color: @colorTextQuaternary;
        // margin-top: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .item-actions {
      display: none;
      align-items: center;
      gap: @marginXxs;
      margin-left: @marginXxs;

      .action-icon {
        padding: @paddingXs;
        border-radius: @borderRadius;
        font-size: @fontSizeSm;
        color: @colorTextQuaternary;
        cursor: pointer;
        transition: all @motionDurationMid;

        &:hover {
          color: @colorPrimary;
          background: @colorFillTertiary;
        }
      }
    }

    &:hover {
      .item-actions {
        display: flex;
      }
    }

    .item-check {
      margin-left: @marginSm;
      color: @colorPrimary;
      font-size: @fontSizeSm;
    }
  }
}
