@import '@/styles/token';

.listItem {
  gap: 6px;
  padding: @paddingSm 0;
  box-sizing: content-box;
  border-bottom: @lineWidth solid @colorSplit;

  .img-box {
    display: inline-block;
    width: 32px;
    height: 32px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .itemMain {
    display: flex;
    flex-direction: column;
    gap: 2px;
    min-width: 0;

    .itemTitle {
      display: inline-block;
      color: @colorText;
      font-size: @fontSizeSm;
      line-height: @lineHeight;
      font-weight: @fontWeightStrong;
    }

    .itemDescription {
      color: @colorTextSecondary;
      font-size: @fontSizeSm;
      line-height: @lineHeight;
    }
  }

  .itemExtra {
    margin-left: 12px;

    .btn {
      line-height: 22px;
      font-size: @fontSizeSm;
    }
  }
}
