@WHITE: #fff;
@WHITE01: #f6f8fa;
@WHITE02: rgba(252, 252, 255, 1);
@WHITE03: #f3f5fa;
@WHITE04: #f7f7fa;
@WHITE05: #f0eff5;
@WHITE06: #e4eeff;
@WHITE07: #e7e6ec;
@WHITE08: #f0f0f5;
@WHITE09: rgba(247, 247, 252, 1);
@WHITE10: #f9f9f9;
@WHITE11: #d9d9d9;
@WHITE12: #f5f7fa;
@WHITE13: #d3d3f7;
@WHITE14: #e5e8ef;
@WHITE15: #e5e6eb;
@WHITE16: #fcfcff;
@WHITE17: #ecf4ff;
@WHITE18: #dce9ff;
@WHITE19: #fcfcfc;
@WHITE20: #f9fafa;
@WHITE21: #f8f8fa;
@WHITE22: #fdf1e5;
@WHITE23: #f2f3f7;

@GRAY: #ccc;
@GRAY01: #eceeef;
@GRAY02: rgba(56, 55, 67, 0.08);
@GRAY03: rgba(180, 186, 246, 1);
@GRAY04: #c9cdd4;
@GRAY05: #95979c;
@GRAY06: #d8d8d8;
@GRAY07: #979797;
@GRAY08: #f1f2fd;
@GRAY09: #f2f3f5;
@GRAY10: #767676;
@GRAY11: #86909c;
@GRAY12: #6b6b75;
@GRAY13: #444;
@GRAY14: rgba(68, 83, 130, 0.15);
@GRAY15: #5f6063;
@GRAY16: #5e6772;
@GRAY17: #e5e6ea;
@GRAY18: #9a9d9f;
@GRAY19: #d9d9df;
@GRAY20: #bababe;
@GRAY21: #636466;
@GRAY22: #7e8083;
@GRAY23: #83818b;
@GRAY24: #c2c2c4;
@GRAY25: #dde6fa;
@GRAY26: #929599;
@GRAY27: #d2d6d9;
@GRAY28: #757b8d;
@GRAY29: #b8bcc5;
@GRAY30: #d3d4f4;
@GRAY31: #f4f5fa;
@GRAY32: #8c8c8c;

@BLANK: #000;
@BLANK01: rgba(82, 100, 154, 0.13);
@BLANK02: rgba(82, 100, 154, 0.3);
@BLANK03: rgba(8, 13, 30, 0.9);
@BLANK04: #3d3d3d;
@BLANK05: rgba(0, 0, 0, 0.3);
@BLANK06: rgba(28, 29, 35, 0.35);
@BLANK07: rgba(56, 55, 67, 0.8);
@BLANK08: #1c1d23;
@BLANK09: rgba(56, 55, 67, 1);
@BLANK10: rgba(0, 0, 0, 0.45);
@BLANK11: rgba(15, 21, 40, 0.82);
@BLANK12: rgba(0, 0, 0, 0.04);
@BLANK13: rgba(32, 41, 69, 0.62);
@BLANK14: #1d1c23;
@BLANK15: #1d1c24;
@BLANK16: rgba(29, 28, 36, 0.6);
@BLANK17: #4e5969;
@BLANK18: rgba(87, 104, 161, 0.08);
@BLANK19: rgba(29, 28, 35, 0.08);
@BLANK20: rgba(171, 199, 255, 0.2);
@BLANK21: rgba(55, 67, 106, 0.38);
@BLANK22: rgba(46, 46, 56, 0.04);
@BLANK23: rgba(28, 31, 35, 0.35);
@BLANK24: #2e2e38;
@BLANK25: rgba(0, 0, 0, 0.15);
@BLANK26: rgba(24, 29, 40, 0.8);
@BLANK27: rgba(90, 108, 167, 0.04);
@BLANK28: #1d2129;
@BLANK29: rgba(0, 0, 0, 0.09);
@BLANK30: rgba(0, 0, 0, 0.06);
@BLANK31: rgba(0, 0, 0, 0.9);
@BLANK32: #626262;
@BLANK33: #3a3f4f;
@BLANK34: #383743;
@BLANK35: rgba(28, 29, 35, 0.6);
@BLANK36: #363d4d;

@BLUE01: #4080ff;
@BLUE02: #0e0101;
@BLUE03: #4d53e8;
@BLUE04: #1677ff;
@BLUE05: #4f40e5;
@BLUE06: rgba(48, 113, 242, 1);
@BLUE07: #165dff;
@BLUE08: #4d6bfe;
@BLUE08: #1c0cb2;
@BLUE09: rgba(102, 108, 255, 1);
@BLUE10: #0256ff;
@BLUE11: #edf3ff;
@BLUE12: rgba(150, 159, 255, 0.45);
@BLUE13: #5147ff;

@GREEN: #008000;
@GREEN01: rgba(103, 229, 146, 0.2);
@GREEN02: rgba(0, 184, 62, 1);
@GREEN03: rgba(62, 194, 84, 1);
@GREEN04: rgba(62, 194, 84, 0.8);

@YELLOW01: rgba(250, 191, 12, 1);

@RED: #ff0000;
@RED01: rgba(229, 50, 65, 1);

// orange
@ORANGE01: #ed6060;
