@import '@/styles/token';
// 大模型节点
.model-dispose-mode-style {
  display: flex;
  flex-direction: column;
  font-size: 12px;

  .model-title-style {
    font-weight: @fontWeightStrong;
    font-size: 18px;
    padding-bottom: 10px;
    letter-spacing: 4px;
    width: 600px;
  }

  .radio-button-style {
    border: none;

    .ant-radio-button-wrapper {
      border: none;
      width: 120px;
      font-size: 12px;
      font-weight: @fontWeightStrong;

      &::before {
        width: 0;
      }
    }
  }

  .dispose-title-style {
    font-weight: @fontWeightStrong;
    font-size: 14px;
  }

  .right-content-style {
    width: 120px;
  }

  .border-bottom {
    border-bottom: 1px solid #e8e8e8;
  }

  .label-style {
    width: 120px;
  }

  .slider-style {
    flex: 1;
  }

  .input-style {
    width: 100px;
    margin-left: 30px;
  }

  .ant-divider {
    margin: 10px 0;
  }
}

.margin-top-10 {
  margin-top: 10px;
}
