@import '@/styles/token.less';

.modalBody {
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden; // 禁止水平滚动
  padding: 0 !important;
}

.form {
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden; // 禁止水平滚动
}
