@import '@/styles/color';
@import '@/styles/token';

.modal-container {
  width: 600px !important;

  .inner-container {
    height: 700px;
    padding: 0 20px 20px;
    border-radius: 10px;
    background: @WHITE03;
    pointer-events: auto;

    .header {
      height: 60px;

      h3 {
        font-weight: @fontWeightStrong;
      }
    }

    .p-title {
      margin-bottom: 20px;
      font-weight: @fontWeightStrong;
    }

    .table-wrap {
      border: 1px solid @GRAY01;
      border-radius: 12px;
      overflow: hidden;

      :global {
        .ant-table-footer {
          background-color: transparent;
        }

        .ant-table-tbody-virtual .ant-table-cell {
          border-bottom: none;
        }
      }
    }
  }

  .param-desc {
    color: @GRAY05;
    font-size: 12px;
  }
}
