@import '@/styles/token.less';

.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: @colorTextSecondary;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0;

  &:hover {
    color: @colorPrimary;
    background-color: @colorBgTextHover;
  }
}
