@import '@/styles/color.less';

.more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: @GRAY28;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0;

  &:hover {
    color: @BLUE04;
    background-color: @WHITE08;
  }
}
