@import '@/styles/color';
@import '@/styles/token';

.chat-input-manual-component-wrapper {
  position: relative;
  min-height: 40px;
  margin-top: 3px;
  overflow: hidden;
}

.manual-container {
  width: 100%;
  gap: @marginXs;

  .manual-box {
    box-sizing: border-box;
    padding: @paddingXxs @paddingXs;
    color: @colorTextSecondary;
    font-size: @fontSizeSm;
    white-space: nowrap;
    word-wrap: normal;
    border: @lineWidth solid @colorSplit;
    border-radius: @borderRadius;
    transition: background-color ease-in-out 0.3s;

    .svg-icon {
      color: @colorTextSecondary;
    }

    &:hover {
      background-color: @colorPrimaryBg;
    }

    &.active {
      color: @colorPrimary;
      font-weight: @fontWeightStrong;
      background-color: @colorPrimaryBg;
    }

    &.more-btn {
      padding-right: @paddingXs;
      padding-left: @paddingXs;

      .invisible-height-placeholder {
        width: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }
  }
}

.more-popover-content {
  width: max-content;
  max-width: 300px;
  padding-bottom: 6px;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.invisible-ruler {
  top: 0;
  left: 0;
  z-index: -1;
  width: max-content;
  visibility: hidden;
  pointer-events: none;
}
