@import '@/styles/color';

.space-box {
  gap: 8px;

  .radius-number {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    color: @WHITE;
    background-color: @BLUE03;
  }
}

.link-switch {
  position: absolute;
  right: 0;
  top: -25px;
}

.footer {
  padding: 8px;
  text-align: right;
}
