@import '@/styles/color';
@import '@/styles/token';

.edit-header {
  height: 32px;
  padding: @paddingXs @paddingLg;
  border-bottom: @lineWidth solid @colorSplit;
  box-sizing: content-box;

  h3 {
    font-size: 16px;
    //font-weight: @fontWeightStrong;
    color: @colorText;
    font-weight: 600;
    line-height: 24px;
  }

  .drop-box {
    gap: @marginXs;
    color: @colorText;
    font-size: 14px;
    font-weight: @fontWeightStrong;

    img {
      width: 22px;
      height: 22px;
      border-radius: 2px;
    }
  }
}

.model-dropdown {
  background-color: @colorBgContainer;

  :global(.ant-dropdown-menu) {
    max-height: 400px;
    overflow-y: auto;
  }
}
