@import '@/styles/color';
@import '@/styles/token';
@import '@/styles/custom-variate';

.container {
  //padding: 19px 16px;
  padding: 0 10px 10px;

  .main-container {
    flex: 1;
    //padding: 34px 37px;
    margin: 10px 0;
    padding: 10px;

    .title {
      font-size: 14px;
      font-weight: normal;
      line-height: 22px;
      letter-spacing: 0;
      font-variation-settings: 'opsz' auto;
      font-feature-settings: 'kern' on;
      color: #393e4f;
    }

    .desc {
      margin-top: 4px;
      font-size: 14px;
      font-weight: normal;
      line-height: 22px;
      letter-spacing: 0;
      font-variation-settings: 'opsz' auto;
      font-feature-settings: 'kern' on;
      color: #3d3d3d;
      white-space: pre-wrap;
      word-break: break-word;
    }

    .request-select {
      width: 98px;
      margin-right: 16px;
    }

    .table-wrap {
      border-radius: @antdTableBorderRadius;
      border: 1px solid @BLANK19;
      margin-top: 12px;
      margin-bottom: 50px;

      th {
        font-size: 12px;
        font-weight: @fontWeightStrong;
        line-height: 22px;
        letter-spacing: 0;
        color: #666e84;
        padding: 12px;
      }

      td {
        font-size: 14px;
        font-weight: normal;
        line-height: 22px;
        letter-spacing: 0;
        padding: 12px;
        font-feature-settings: 'kern' on;
        color: #3d3d3d;

        &:nth-child(2) {
          font-size: 12px;
          font-weight: normal;
          line-height: 18px;
          letter-spacing: 0;
        }
      }
    }

    .select {
      width: 120px;
    }
  }

  .empty-container {
    background-color: white;
    padding: 16px 20px;
    margin: 16px 0;
  }
}
